# Segredos e Variáveis de Ambiente
.env
node_modules/
dist/
coverage/
data/backups/
.pglite/

# --- PYTHON (Essencial para sua pasta scripts_python/) ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.coverage

# --- SISTEMA OPERACIONAL ---
.DS_Store
Thumbs.db
.vscode/
